BUK_WEBHOOK_URL="https://bacze.app.n8n.cloud/webhook/buk_users_list"
BUK_CREATE_WEBHOOK_URL="https://bacze.app.n8n.cloud/webhook/buk_user_create"
BUK_WEBHOOK_HEADER_NAME="backend"
BUK_WEBHOOK_HEADER_VALUE="asd123"
